# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# env files
.env 

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# macOS
.DS_Store

# Python cache
*.pyc

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
coverage.xml

# MyPy
.mypy_cache/

# Pip
pip-log.txt
